# redis host
REDIS_HOST=redis

# redis port
REDIS_PORT=6379

# redis password
REDIS_PASSWORD=

# hashing algorithm
ALGORITHM=HS256

# JWT secret key
JWT_SECRET_KEY=jsC7RcKw-yecaw4rzw_7ck0bT0cnrPM765cPOkwBLpE

# slack webhook url
SLACK_WEBHOOK_URL=

DATABASE_URL=postgresql://postgres:arkya123@db:5432/ecommerce

# celery data storage
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0